<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30" status="warn">

    <Properties>
        <property name="pattern_file">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </property>
        <property name="pattern_console">
            %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{1} - %msg%n
        </property>
    </Properties>
    <Appenders>
        <RollingFile name="TxtFile" fileName="logs/text.log" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_priority.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level = "debug">
            <Appender-ref ref="TxtFile" level = "debug"/>
            <Appender-ref ref="Console" level = "debug"/>
        </Root>
    </Loggers>
</Configuration>
