<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">

    <test name="test1">
        <!--<groups>-->
            <!--<run>-->
                <!--<exclude name="base"/>-->
            <!--</run>-->
        <!--</groups>-->
        <packages>
            <package name="test.com.dk.gym.validation"/>
            <package name="test.com.dk.gym.pool"/>
        </packages>
    </test>
</suite>
